body{

    width: 1000px;
    /* height: 3000px; */
    display: flex;
    margin : 0 auto;
    align-items: center;
    flex-direction:  column;
    font-family: 'Noto Sans KR', sans-serif;
}

header{
 width: 100%;
 height: 300px;
 
 background:  linear-gradient( to right, rgb(77, 121, 187), rgb(233, 156, 207) ); 

}

a{
    text-decoration: none;
    color: black;
}

#name{
    margin-top: 70px;
    text-align: center;
    font-size: x-large;
    font-family: 'Pangolin', cursive;
    color: white;
    text-shadow: gray 2px 2px 2px;

}

.nav{
    width: 100%;
    height: 80px;
    border-bottom: gray 1px solid;

    
    
}

#a{
    text-decoration: none;
    color: black;
}
.nav ul{

   
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 24px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items:  center;
    list-style: none;
}

#git{
    width: 20px;
    height: 20px;
}

.container{



}

#my-profile{
    border: hotpink 2px;
    width: 100%;
    height: 500px;
    display: flex;
   
    border-bottom: gray solid 1px;
}



#second{
    opacity: 0.5;
}

.my-img{


    
}




#a2{

    margin-top: 130px;
    margin-left: 30px;
    width: 270px;    
    height: 270px;
    border-radius: 100%;
}

#profileImg{
    
    top: 50%;
    width: 38%;


}

#introduce{

    width: 90%;
    height: 120%;
  /*   border: hotpink 5px; */

}



.introduce intro{

    font-family : 'Open Sans Condensed', sans-serif;
    text-align: center;
    margin-top: 110px;
    position: relative;
    top: 50%;
    word-spacing: 2px;
    line-height: 30px;
/*     margin-right: 20px; */

}


#my-profile p{
    
    margin-left: 30px;
    font-size:30px;
    font-style: italic;
    color: slateblue;
    font-weight: bold;
    display: block;
}

#Skills{
   /*  border: hotpink 2px; */
    width: 100%;
    height:470px;
  /*  /*  border:  1px solid violet; */
    display: flex;
   /*  border-bottom: gray 1px solid; */
/*     box-shadow: gray 1px 2px 3px; */ 

border-bottom: gray solid 1px;

    
   

}


#Skills p{
    
    margin-left: 30px;
    font-size:30px;
    font-style: italic;
    color:rgb(153, 189, 99);
    font-weight: bold;
    display: block;
}

#all_image img{
/*     margin-top: 60px; */

   /*  margin-top: 80px;
    margin-left: 50px; */
    border-radius: 100px;
    width: 100px;
    height: 100px;/* 
    margin:70px 30px 20px 8px; */

    

}

#all_image{
    /* display: flex; */

}

#project p{
    
    margin-left: 30px;
    font-size:30px;
    font-style: italic;
    color:cornflowerblue;
    font-weight: bold;
    display: block;

}

#project{
    border: black 2px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-bottom: gray solid 1px;

    

}

#webina{
    font-size: 20px;
    
}


#SNS{
    border: hotpink 2px;
    width: 100%;
    height: 400px;
    display: flex;
    border-bottom: gray solid 1px;
}



#second_image img{

    margin-top: 100px;
    margin-left: 90px;
    width: 110px;
    height: 110px;

}

#SNS p{

    margin-left: 30px;
    display: flex ;
    font-size:30px;
    font-style: italic;
    color: black;
    font-weight: bold;
    display: block;

}


#Skills word{

    font-family: 'Noto Sans KR', sans-serif;;
    font-size: 10px;
    
}

/* span{

    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;;

} */

.image_cover{
    margin-top: 80px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill_cover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#sm1{
    
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 20px;
    margin-top: 8px;
    

}

b1{
    font-size: 200px;
}

#Skills p1{

   
}

.people{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#people2 {

    width: 250px;
    height: 250px;
    
}

#little_box{
    margin-left: 50px;
    width: 350px;
    height: 250px;
    border:  1px solid rgb(161, 161, 161);
    
}

#small_intro{

    margin-top: 180px;
    border-radius: 1px 1px 20px 20px;
 /*    border: gray 4px; */
    width: 451px;
    height: 100px;
    display: flex;
/*     border: gray 1px solid; */
    background-color: white;
    box-shadow: rgb(216, 212, 212) 11px 8px 2px;

}

.box-cover{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:  0 auto;
}

.box1{
    margin: 50px;
    border-radius: 20px;
    /* border: black 3px; */
    width: 400px;
    height: 270px;
    display: flex;
    /* border: gray 1px solid; */
    background-color: rgb(115, 176, 211);
    box-shadow: rgb(216, 212, 212) 11px 2px 2px;


}


 .box2{
    margin: 50px;
        border-radius: 20px;
       /*  border: gray 3px; */
        width: 400px;
        height: 270px;
        display: flex;
        /* border: gray 1px solid; */
        background-color: cornflowerblue; 
        box-shadow: rgb(216, 212, 212) 11px 2px 2px;
    
    
    }

/* .box3{
        margin: 50px;
            border-radius: 20px;
            border: black 3px;
            width: 300px;
            height: 200px;
            display: flex;
            border: gray 1px solid;
            background-color:white; 
        
        
        }

 .box4{
        margin: 50px;
                border-radius: 20px;
                border: black 3px;
                width: 300px;
                height: 200px;
                display: flex;
                border: gray 1px solid;
                background-color:rgb(34, 54, 110); 
            
            
            }        */
 #For{

    display: flex;
    font-size: 35px;
    font-family: 'Pangolin', cursive;
    margin-top: 10px;
    margin-left: 15px;
    font-style: italic;
    color: silver;
    font-weight: bold;
    /* text-shadow: gray 2px 2px 2px; */

 }       


.All_font{


    font-weight: bold;
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 19px;



}

#github2{
    margin-top: 20px;
    
}
 

 #notice{

    margin-top: 50px;
    font-family: 'Pangolin', cursive;
    font-size: 13px;
    margin-left: 30px;
    
 }

 #email img{
   
     width: 18px;
     height: 18px;
 }

 #github2 img{

    width: 18px;
    height: 18px;

 }

 #arrow{
     
    width: 90px;
    height: 90px;


 }

 .skill_cover span{

    margin-top: 5px;
    font-family: 'Pangolin', cursive;
    font-size: 20px;


 }

 footer{

    width: 1000px;
    height: 60px;
    border-bottom: gray solid 1px;
    background-color:rgb(231, 231, 231);


 }
 
 #final{

    font-family: 'Pangolin', cursive;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;



 }

 #Pear{
     font-size: 20px;
     font-weight: bold;
     font-family: 'Noto Sans KR', sans-serif;

     
 }

 #PMS{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;

    
}

#WEBINA{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;

    
}